body{
  background-color: rgb(255,69,69)
}

h1{
  color: rgb(255,255,255)
}

}

h3{
  color: rgb(255,255,255)
}

p{
  color: rgb(255,255,255)
}

hr{
  color: black
}

h1 {
  font-family:Charcoal;
}

p{
  font-family:sans-serif;
}

<style>
